*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}


.con{
    max-width: 400px;
    background-color: pink;
    margin: 0 auto;
    
    
    
}
.img1{
    height: 80px;
    width: 50px;
    border-radius: 35px;
    float: left;
    margin-top: 10px;
}
.profile{
    color: blueviolet;
    padding: 15px;
    float: left;
    
}

h1,h2,h3,h4,h5{

    
}

.info{
    float: right;
    text-align: center;
    font-size: 14px;
  
}

.info a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.info a:hover{
    background-color: greenyellow;
    text-decoration: underline;
    
}

.divcl{
    clear:both;
}

hr{
    border: 3px greenyellow solid;
    width: 100%;
    
}

#personal{
    padding-top: 10px;
    
}

.left{
    width: 10%;
    float: left;
    
}

.right{
    
    width: 70%;
    float: right;
    padding-bottom: 10px;
   
}

.rui{
    padding-top: 70px;
}

.choto{
    font-size: 15px;
    padding-left: 10px;
}

footer{
    background-color: black;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}

footer a{
    color: red;
    text-decoration: none;
}


















